<form >
    <div class="container-fluid">
        <div class="left mt-5">
            <div class="card p-5 ">
                <div class="signup ">    
                    <form class="form">    
                            <p id="p">LOGIN</p>
                            <div>
                                <input type="text"  placeholder="Enter Email" >    
                                <br><br>    
        
                                
                                <input type="Password" placeholder="Enter Password">
                                <br><br>
        
                                <a href="index.html">
                                    <input type="button" name="log" value="LOGIN" class="log">
                                </a>       
                                <br><br>    
                                New User? <a routerLink="/signup">Click here</a>
                            </div>
                            
                    </form>     
                        
                </div>    
            </div>
            
        </div>
    
        <div class="right">
            <div class="w-50">
                <img src="/assets/images/pic.jpeg" class="img-custom"/>
            </div>
            
        </div>    
    </div>
    
  
  </form>

