<body id="bg">
  <div>
    <div class="container-fluid">
      <div class="row justify-content-center align-center p-5 mt-5">
        <div class="col-4 text-center">
          <div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
            <mat-card class="box">
              <mat-card-content>
                <mat-card-title>Login</mat-card-title>
              </mat-card-content>

              <form [formGroup]=LoginForm>
                <mat-card-content>
                  <div class="space">
                    <mat-form-field>
                      <input matInput placeholder="Username" formControlName="name">
                    </mat-form-field>
                    <div *ngIf="name && name.invalid && name.touched" style="color:red">Invalid Username</div>

                  </div>

                  <div class="space">
                    <mat-form-field>
                      <input type="password" matInput placeholder="Password" formControlName="pass">
                    </mat-form-field>
                    <div *ngIf="pass && pass.invalid && pass.touched" style="color:red">Invalid Password</div>
                  </div>

                </mat-card-content>

                <button mat-stroked-button color="primary" class="btn-block">Login</button>

                <div class="space">
                  Not a member? <a routerLink="/signup">Sign up</a>
                </div>
              </form>
            </mat-card>
          </div>
        </div>

      </div>
    </div>
  </div>

</body>