<body id="bg">
    <div class="container">
        <div class="col-lg-12 p-5 mt-5">
            <table class="table tablecolor">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let singlefish of cart">
                        <td>{{singlefish.fish.name}}</td>
                        <td>${{singlefish.fish.price}}</td>
                        <td>{{singlefish.quantity}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="footer pull-right p-3">
        <button class="btn btn-default" (click)="onPlaceOrder()" *ngIf="cart.length!==0">Place
            Order</button>
    </div>
</body>