<nav id="userNavBar" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">FishLandia</a>
        </div>
         <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a id="productHomeButton" routerLink = "/home">Products</a></li>
                <li routerLinkActive="active"><a id="productOrderButton" routerLink = "/orders">Orders</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a id="logoutButton" href="#">Loggout</a></li>
             </ul>
        </div>
    </div>
</nav>

