<form style="padding-top: 20px;">
  
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <label for="email"><b>Email</b></label>
                <input type="email" class="form-control" placeholder="Enter Email" name="email" required>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-xs-4">
                <label for="uname"><b>Username</b></label>
                <input type="text" class="form-control" placeholder="Enter Username" name="uname" required>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-xs-4">
                <label for="phonenumber"><b>Phonenumber</b></label>
                <input type="number" class="form-control" placeholder="Enter Phonenumber" name="phonenumebr" required>
            </div>
        </div>

        <div class="row" style="padding-top: 10px;">
            <div class="col-xs-4">
                <label for="psw"><b>Password</b></label>
                <input type="password" class="form-control" placeholder="Enter Password" name="psw" required>
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-xs-4">
                <label for="uname"><b>Confirm Password</b></label>
                <input type="password" class="form-control" placeholder="Confirm Password" name="uname" required>
            </div>
        </div>

        <div class="row" style="padding-top: 10px;">
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary" >SignUp</button>
            </div>
        </div>  
    </div>      
  
  </form>

